header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #067BC2;
  color: #FAFAFA;
  padding: 0 20px;
}

header h1 { margin: 0; }
.large-header { flex: 3; }
.small-header { display: none; flex: 1; }

header .action-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

header .action-bar a {
  color: #FAFAFA;
  text-decoration: none;
}

header .action-bar i { font-size: 25px; }

@media(max-width: 700px) {
  .large-header { display: none; }
  .small-header { display: block; }
}
